header{
    border-radius:20px; 
    font-family: verdana;
    font-size: 80px;
    letter-spacing: -10px;
}
h2{
	font-style:oblique;
	font-family: verdana;
	color:red;
	font-weight:normal;
	letter-spacing: 60px;
}
h3{
	border-spacing: 10px;
	text-align: center;
	font-style:italic;
    font-weight: bold;
    letter-spacing: 20px;
}
h4{
	text-align: center;
	border-spacing: 10px;
	margin-right: 200px;
	font-family: Verdana, sans-serif;
	color: #000000;
	letter-spacing: 50px;
	font-size: 5px;
}
h5{
	
	border-spacing: 10px;
	text-align: center;
	margin-left: 500px;
	font-family: Vivaldi, cursive; 
	letter-spacing: 40px;
	font-size: 4px;
}
h6{
	margin-right: 10px;
	border-spacing: 10px;
	text-align: center;
	letter-spacing: 80px;
	font-size: 5px;
	
}
div{
	margin-right: 400px;
	border-spacing: 10px;
	text-align: center;
	font-family: verdana;
	letter-spacing: 80px;
	font-size: 5px;
	
}
p{
    display: inline-block;
    
}    
*{
	
}
