html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Global Styles */
body {
    margin: ;
    padding: ;
    font-family: Helvetica,arial,sans-serif,;
    font-weight: 400;
    line-height: 1.4em;
}

img {
    max-width: 100%;
}

/* Typography */
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FDE1D6;
}

.container img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
/* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2),0 6px 6px rgba(0,0,0,0.2);
}

/* Header + Navigation */
header {
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 0;
}

div.cm {
    font-family: Harbour;
    font-size: 1.25em;
    float: right;
    padding: 20px;
    margin-left: 110px;
    margin-top: 50px;
    position: fixed;
    -webkit-animation: squareToCircle 2s .5s infinite alternate;
}

@-webkit-keyframes squareToCircle {
    0% {
        border-radius: 0 0 0 0;
        background: #FDE1D6;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background: #FDE1D6;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background: #FDE1D6;
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: #FDE1D6;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50% 50% 50% 50%;
        background: #FDE1D6;
        transform: rotate(180deg);
    }
}

header nav {
    float: right;
    font-size: 8px;
    padding: 15px;
    font-family: helvetica;
    margin-right: 110px;
    margin-top: 80px;
    word-spacing: 40px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    text-decoration: underline;
}

header nav ul li a {
    font-size: 2em;
}

/* Layyout */
.container {
    max-width: 950px;
    margin: 180px 0 0 160px;
}

ul.thumbnails {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    max-height: 1000px;
    list-style: none;
    align-content: center;
}

ul.thumbnails li.thumb {
    margin: 8px;
    width: 220px;
    float: center;
    width: 30%;
}

/* Footer */
footer {
    max-width: 980px;
    margin: 30px auto;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 780px) {
    .column {
        float: none;
        width: auto;
    }

    #siderbar {
        display: none;
    }

    img {
        max-width: 50%;
    }

    nav {
        position: fixed;
        float: left;
        bottom: 100px;
    }

    header nav ul li {
        margin: 20x 40px 5px;
        display: block;
    }
} 
