body{
	color:green;
}
p{
	border:20px solid black;
}
header{
	text-align: center;
}
p{
    color:red;
    font-family: verdana;
}    
div p{
    color:#CC0000;
}    
*{
    border: 20px dashed #3A5FCD;
}    