header{
	text-align: center;
	border-top: 20px dashed red;
	border-left: 30px dashed yellow;
	border-right: 30px dashed yellow;
	border-bottom: 20px dashed #00FFFF;	

}
p{
	text-align: center;
	
	border-top: 10px dashed blue;
	border-left: 30px dashed yellow;
    border-right: 30px dashed yellow;
}
div{
	padding: 10px;
	text-align: center;
	border-radius: 50px solid red;
    border-top: 10px dashed blue;
	border-left: 30px dashed yellow;
    border-right: 30px dashed yellow;
}
}