header{
	border:50px dashed red;
    border-radius:20px; 
    text-align: center;
}
h2{
	text-align: center;
}	
div{
	border-top: 2px dashed blue;
	border-spacing: 10px;
	text-align: center;
	
} 
p{
    border:2px dashed red;
    border-radius:20px; 
  
    display: inline-block;
  

   
}    