header{
    border-radius:20px; 
    background-position:fixed; 
    font-family: verdana;
    font-size: 50px;
    line-height: 100px;
    text-transform:uppercase;

}
h2{
	line-height: 100px;
	font-style:oblique;
	font-family: verdana;
	color:red;
	font-weight:normal;
	background-color:black;
	text-transform:lowercase;
}
h3{
    color:green;
	border-spacing: 10px;
	font-style:italic;
    float: right;
    padding: 20px;
    margin: 10px;
    text-transform:uppercase;
    border-left: 10px dashed red;
}
h4{
    border-left: 10px solid red;
	border-spacing: 10px;
	font-family: Verdana, sans-serif;
	color: #000000;
	padding-right: 20px;
}
h5{
	padding-right: 20px;
	border-spacing: 10px;
    border-left: 10px dashed blue;
	font-family: Vivaldi, cursive; 
	font-size: 20px;

	text-transform:uppercase
}
h6{
	margin-right: 10px;
	padding-right: 20px;
	border-spacing: 10px;
    border-left: 10px dashed yellow;

	font-size: 20px;

}
